include LICENSE.txt
include setup.cfg
include setup.py
include makedoc.py
include build_package.py

recursive-include test *
recursive-include docs *

recursive-exclude docs/build *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude .git *
recursive-exclude .idea *
recursive-exclude venv *